{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="py-3 text-center">Django CRUD</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus vitae voluptatibus commodi dolor ipsam perspiciatis at modi pariatur dolorem quod fugit voluptatum ut sed quaerat dolore blanditiis, sapiente officia id vero. Sint, obcaecati dolore repellendus fuga et omnis quaerat ducimus veniam eligendi! Dolorem, dignissimos laboriosam minima esse quos totam inventore eius eaque consectetur impedit nam a accusamus excepturi quia praesentium beatae? Quisquam eius in ipsa iure earum debitis nesciunt vel nemo eum. Perspiciatis et magnam quibusdam, sint ducimus exercitationem nesciunt ex dicta rem, cum natus eius. Voluptatibus amet dolore deleniti, recusandae illo in consequuntur id quod debitis? Repellendus, delectus sapiente?</p>
    </section>
</main>

{% endblock %}